@model IEnumerable<RentACar.Models.CarModel>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carbrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carmodel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gearbox)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carbrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carmodel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gearbox)
            </td>
            
        </tr>
}
    </tbody>
</table>
